@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Karla', sans-serif;
    position:relative;
    margin: 0;
}

.with-bg-size {
    background: url('../img/banner.jpg') 50% 50%;
    height: 200px;
    width: 100vw;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    background-position: center;
  }

.presentation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.img-chef{
    display: flex;
    justify-content: center;
}

.display-mobile{
    display: none;
}

.img-chef img{
    width: 50%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(50 50 93 / 10%);
}

.presentation-description{
    padding: 10px 20px;
}

.sub-title{
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #c89366;
    font-size: 23px !important;
    margin-top: 29px;
    margin-bottom: 60px!important;
    text-align: center;
}

.action-rs{
    display: flex;
    justify-content: space-around;
}

.options{
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
}

.fixed{
    z-index: 3;
    position: fixed; 
    width: 100%;
    background-color: white;
    top: 0px;
}
#category-navbar{
    height: 50px;
}

.category{
    padding: 10px 20px;
    border-bottom: 5px solid rgb(226, 226, 226);
    white-space: nowrap;
    width: 100%;
    text-align: center;
}


.fav-choices-container{
    padding: 0px 10% 0px 10%;
}

.fav-choices{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0px 5%;
}

.choice-box{
    border-radius: 5px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    margin: 10px 10px;

}

.img-choice{
    grid-area: img-choice;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-choice img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.buy{
    width: 64px;
    padding: 8px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 12px;
    grid-area: buy;
    width: 90%;
    margin: auto;
    margin-bottom: 5px;
}

.link-buy{
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 1.2rem;
}

.description-choice{
    padding: 10px 5px;
    grid-area: description-choice;
}

.title{
    font-weight: 700;
    margin-bottom: 5px;
    margin-bottom: 10px;
}

.description{
    color: #999;
    font-size: 14px;
    margin-top: 10px;
    line-height: 20px;
    font-weight: 300;
}


.product-detail{
    font-weight: 700;
    border-top: 1px solid #eee;
    padding: 10px 20px;
    grid-area: product-detail;
    justify-content: center;
    display: flex;
}

.link-look-product{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-weight: 700;
}


.active{
    color: #c89366;
    border-bottom: 5px solid rgb(0, 0, 0);
}

@media (hover: hover) {
    .link-look-product:hover{
        color: #c89366;
        border-bottom: 5px solid rgb(0, 0, 0);
    }
    .add-cart:hover{
        cursor: pointer;
        background-color: rgba(29, 116, 247, 0.575);
        transition: 400ms;
    }
  }

@media screen and (max-width: 996px) {
    .fav-choices{
        grid-template-columns: 1fr 1fr;
    }

  }


@media screen and (max-width: 480px) {
    .fav-choices-container{
        padding: 0%  3.5%;
    }

    .fav-choices{
        grid-template-columns: 1fr;
    }

    .choice-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:"img-choice description-choice  description-choice"
                            "buy        description-choice  description-choice";
        padding: 5px 0px;
        border-radius: 5px;
    }
    .img-choice{
        justify-content: space-around;
        margin: 0px 5px;
    }
    .img-choice img{
        border-radius: 25px;
    }
    .with-bg-size {
        height: 200px;
      }

    .description-choice .title{
        font-size: medium;
    }

    .description{
        font-size: small;
    }

    .presentation{
        grid-template-columns: 1fr;
    }

    .sub-title{
        margin-bottom: 30px!important;
    }

    .display-mobile{
        display:flex;
    }
    .display-web{
        display: none;
    }

    .buy{
        width: auto;
        margin: auto;
    }
  }
